.main {
  margin-bottom: 15px;
  float: left;
  width: 85%;
  height: max-content;
  background-color: #757373;
}

.header {

  background-color: #e8e9ea;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}
.titulo {
  width: 60%;
  
}

.horario {
  width: 320px;
  margin-left: 90px;
}
